/*
    Doogies Home page stylesheet
    Created: 4/11/2023
*/

@use '../main.scss';

@mixin animation {
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes ad-line1 {
    0% {filter: opacity(0%); transform: translateX(-10vh)}
    30% {filter: opacity(100%); transform: translateX(0)}
    35% {filter: opacity(100%); transform: translateX(0)}
    45% {filter: opacity(0%); transform: translateX(0)}
    100% {filter: opacity(0%); transform: translateX(-10vh)}
}
@keyframes ad-line2 {
    0% {filter: opacity(0%); transform: translateX(10vh)}
    40% {filter: opacity(0%); transform: translateX(10vh)}
    65% {filter: opacity(100%); transform: translateX(0)}
    80% {filter: opacity(100%); transform: translateX(0)}
    90% {filter: opacity(0); transform: translateX(0)}
    100% {filter: opacity(0); transform: translateX(0)}
}
@keyframes picture {
    0% {filter: opacity(100%)}
    35% {filter: opacity(100%)}
    45% {filter: opacity(0%)}
    85% {filter: opacity(0%)}
    100% {filter: opacity(100%)}
}

/** General **/
body {
    background-image: url("../../doogies_images/background_images/foggy-stage-bw.jpg");
    @include main.background-image;
}

/** Banner Ad **/
div.banner-ad {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 5px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    div.exit {
        align-self: flex-end;
        position: absolute;
        border: 1px solid #fff;
        height: fit-content;
        width: fit-content;
        color: #fff;
        padding: 0.5em;
    }
    div.exit:hover {
        cursor: pointer;
    }
    > p {
        margin: 1em 0;
        color: #fff;
    }
    div.ad-animation {
        height: 90px;
        width: 702px;
        border: 1px solid #4a4a4a;
        background-image: url("../../doogies_images/beer-banner.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
        img[alt~="purple"] {
            height: 100%;
            width: 100%;
            animation-name: picture;
            @include animation();
        }
        img[alt~="gold"] {
            position: relative;
            bottom: 92px;
            height: 88px;
            background-image:
                linear-gradient(to right, #000, #000000f3, #000000ca, #00000000);
            padding: 0 5vh;
        }
        div.ad-words {
            font-size: 1.5em;
            font-family: 'Oxygen','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

            p {
                color: #fff;
                text-shadow: 3px 3px 8px #000, 3px 3px 5px #000, 0 0 5px #000;
                width: fit-content;
            }
            p#first-line {
                position: relative;
                left: 415px;
                bottom: 150px;
                animation-name: ad-line1;
                @include animation();
            }
            p#second-line {
                position: relative;
                left: 250px;
                bottom: 190px;
                filter: opacity(0%);
                animation-name: ad-line2;
                @include animation();
            }
        }
    }
}

/** Who We Are **/
div.about {
    @include main.top-section;

    h2 {
        @include main.section-title;
    }
    p {
        text-align: center;
        width: 55%;
        margin: 1em auto;
        font-size: 1.3em;
        line-height: 1.5em;
    }
    p.subtitle {
        font-size: 1.7em;
        line-height: 1.7em;
    }
}

/** Popular **/
div.popular {
    position: relative;
    left: 400px;
    width: 60%;
    margin: 8em 0;
    padding: 2em 0;
    color: main.$color3;
    background-color: main.$color2-transparent;
    @include main.white-shadow;

    h2 {
        @include main.section-title;
        @include main.dark-shadow;
        position: relative;
        right: 90px;
    }
    section {
        display: flex;
        align-items: center;

        img {
            position: absolute;
            left: -280px;
            height: 250px;
            width: 400px;
            @include main.dark-shadow;
        }
        div {
            margin: 2em auto;
            padding: 0 0 0 7em;
            width: 80%;

            h3 {
                display: flex;
                justify-content: space-between;
                font-size: 1.3em;
                margin: 1em 0;
            }
            p {
                margin: 0.5em 0;
                font-size: 1.3em;
                line-height: 1.5em;
            }
            a {
                display: block;
                width: fit-content;
                font-size: 1.3em;
                background-color: main.$color1;
                color: main.$color3;
                text-decoration: none;
                border-radius: 5px;
                padding: 0.3em 3em;
                margin: 2em 0;
            }
        }
    }
}

/** Venue **/
div.venue-info {
    color: main.$color3;
    width: 70vw;
    height: 80vh;
    margin: 8em auto;
    @include main.dark-shadow;

    img {
        position: relative;
        height: 100%;
        width: 100%;
        filter: 
            saturate(180%)
            contrast(160%)
            brightness(60%);
    }
    h2 {
        @include main.section-title;
        @include main.dark-shadow;
        position: relative;
        right: 60px;
        bottom: 75vh;
    }
    section {
        display: flex;
        justify-content: space-between;
        position: relative;
        bottom: 70vh;

        div.call-to-action {
            width: 45%;

            h3 {
                font-size: 2em;
                text-shadow: 0 0 5px #000;
                margin: 30px 25px;
            }
            p {
                font-size: 1.3em;
                line-height: 1.3em;
                text-shadow: 0 0 5px #000;
                padding: 0 25px;
                margin-bottom: 45px;
                width: 75%;
            }
            a {
                font-size: 1.5em;
                border: 2px solid main.$color1;
                color: main.$color1;
                background-color: main.$color3;
                margin: 25px;
                padding: 0.5em 3.5em;
                text-decoration: none;
            }
            a:hover {
                background-color: main.$color1;
                color: main.$color3;
            }
        }
        div.package-options {
            position: relative;
            bottom: 10vh;

            p {
                border: 0.5px solid main.$color3;
                background-color: main.$color2-transparent;
                font-size: 1.5em;
                padding: 1em 1.5em;
            }
        }
    }
}